<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neo.vn.test365children">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".Activity.ActivityHome"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>

        <activity
            android:name=".Activity.ReviewExercises.ActivityBaitapdalam"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ReviewExercises.ActivityExercisesDetail"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ReviewExercises.ActivityReviewExercises"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityMenuGame"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityGuideGameTPTT"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.Activity_startgame_tptt"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.sudoku.ActivityGamePlaySudoku"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Fragment.ActivityGiaiCuuCongChua"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityGameTrieuphutrithuc"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityGameTNNL"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityGameTinhnhanhNholau"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityStartGameTNNL"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.ActivityGameOverTPTT"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.bangxephang.ActivityBieuDo"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.bangxephang.ActivityBXH"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.Activity_List_UserLogin"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity
            android:name=".Activity.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityLogin"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ActivityComplete"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.game_kow.ActivityKoWStart"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.game_kow.ActivityKoWMenuGame"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.game.game_kow.ActivityKoWPlayGame"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.Activity_Welcome"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ActivityMenuBaitap"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ActivityStartBaitap"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".Activity.ActivityLambaitap"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorLandscape"></activity>

        <service android:name=".Service.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.ServiceDownTime"></service>
        <service android:name=".Service.ServiceDownTimeGame"></service>
    </application>

</manifest>